body {
    background-color: hsl(212, 45%, 89%);
}
.box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 700px;
}
.box-content {
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    font-size: 11px;
    width: 225px;
    padding-bottom: 15px;
    border-radius: 10px;
}
.qr {
    width: 200px;
    margin-top: 10px;
    border-radius: 8px;
}
p, h2{
    font-family: 'Outfit',sans-serif;
    padding: 1% 7% 1% 7%;
}
h2{
    color: hsl(218, 44%, 22%);
}
p{
    color: hsl(220, 15%, 55%);
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
    font-family: 'outfit', sans-serif;
}
.attribution a { color: hsl(228, 45%, 44%); }
@media (min-width:375px) {
    .box{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
}